name: Release
on:
  push:
    tags:
      - 'v-*'
jobs:
  def:
    runs-on: ubuntu-latest
    env:
      ZIP_NAME: zbp_markup
    if: startsWith(github.ref, 'refs/tags/v-')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install vite
        run: npm i
      - name: Build vue
        run: npm run build
      - name: GZip
        run: |
          mv dist ${ZIP_NAME}
          tar -czvf ${ZIP_NAME}.tar.gz ${ZIP_NAME}
        env:
          ZIP_NAME: ${{ env.ZIP_NAME }}
      - name: Get Tag
        id: get_tag
        env:
          REF: ${{ github.ref }}
        run: |
          TAG=${REF/refs\/tags\/v-}
          echo "::set-output name=tag::${TAG}"
      - name: Release
        id: release
        uses: softprops/action-gh-release@v1
        env:
          TAG: ${{steps.get_tag.outputs.tag}}
        with:
          name: ${{ env.ZIP_NAME }} Build ${{ env.TAG }}
          body: ${{ env.ZIP_NAME }} Build ${{ env.TAG }} Release.
          files: ${{ env.ZIP_NAME }}.tar.gz
      # - name: Write
      #   env:
      #     RELEASE_URL_1: ${{steps.release.outputs.url}}
      #     RELEASE_URL_2: ${{steps.release.outputs.upload_url}}
      #   run: |
      #     echo ${RELEASE_URL_1} > release.latest.txt
      #     echo ${RELEASE_URL_2} >> release.latest.txt
      - name: Write
        env:
          REPOSITORY: ${{ github.repository }}
          TAG: ${{steps.get_tag.outputs.tag}}
        run: |
          echo https://github.com/${REPOSITORY}/releases/download/v-${TAG}/${ZIP_NAME}.tar.gz > release.latest.txt
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add release.latest.txt
          git commit -m "Update release.latest.txt"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: refs/heads/main
      # - name: SSH Host
      #   env:
      #     HOST: ${{secrets.SERVER_IP}}
      #   run: |
      #     ssh-keyscan -t rsa ${HOST} >> ~/.ssh/known_hosts
      # - name: deploy file to server
      #   uses: wlixcc/SFTP-Deploy-Action@v1.0
      #   with:
      #     username: 'root'   #ssh user name
      #     server: '${{ secrets.SERVER_IP }}' #引用之前创建好的secret
      #     port: ${{ secrets.SERVER_PORT }}
      #     ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }} #引用之前创建好的secret
      #     local_path: './zbp_markup/*'  # 对应我们项目build的文件夹路径
      #     remote_path: '/home/www/zbp_markup'
